@font-face {
    font-family: 'Raptor';
    src: url('./assest/font/DancingScript-Bold.ttf');
}
* {
    font-family: 'Raptor';
}
p {
    font-size: 50px;
    color: white;
}
body {
    background-image: url(https://thumbs.gfycat.com/AcrobaticGoodnaturedBooby-size_restricted.gif);
}
div {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 10s;
}
div:hover {
    width: 300px;
    height: 300px;
    transform: rotate(11520deg);
}